h1 {
    border: 25px solid #ff69b4;
    padding: 30px;
    margin: 50px;
}

h2 {
    border: 25px dashed rgb(211, 16, 25);
}

h1, h2 {
    background-color: rgb(135, 206, 250);
    text-align: center;
}

p {
    color: #ff69b4;
}

div p {
    color: rgb(255, 255, 0);
}

.eeveelutionP {
    font-size: 64px
}

#FlareonID {
    color: rgb(255, 0, 0)
}